    .header_container{
        display: flex;
        align-items: stretch;
    }

    #sidebar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        width: 60px;
        border-radius: 0px 0px 0px 0px;
        position: sticky;
        /*overflow: hidden;*/
        align-items: center;
        padding: 5px;
        border: solid ;
    }

    #open_btn{
        position: absolute;
        top: 20px;
        left: 57px;
        cursor: pointer;
        z-index: 1000;
    }

    .item_description{
        display: none;
        width: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        height: 100%;
        
    }

    #sidebar.open-sidebar{
        min-width: 15%;
    }

    .side_item{
        border-radius: 8px;
        padding: 14px;
        cursor: pointer;
    }

    .header_content {
        display: flex;
        flex: 1;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        position: relative;
    }

    .header_content img {
        max-width: 200px;
        height: auto;
    }