*{
    box-sizing: border-box;
}

body{
    /* ← REMOVE MARGIN PADRÃO DO BROWSER */
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.header img {
    max-width: 200px;
    height: auto;
    position: relative; 
}

.main1{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.titulo_main2{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.doacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: row;

}

.box_main2{
    width: 30%;
    box-sizing: border-box;   
}

