    .headerContainer{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    #sidebar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 250px;
        background-color: white;
        width: 60px;
        border-radius: 10px 10px 10px 10px;
        position: sticky;
        align-items: center;
        padding: 5px 5px 0px 0px;
        border-bottom: 0px;
        border: 2px solid black;
    }

    #sidebar_content{
        display: flex;
        height: 100px;
        flex-direction: column;
        flex-grow: 1;
    }

    .side_item{
        display: flex;
        border-radius: 8px;
        padding: 5px;
        cursor: pointer;
    }

    .item_description{
        display: none;
        width: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        height: 140%;
    }

    #open_btn{
        position: absolute;
        top: 20px;
        left: 57px;
        cursor: pointer;
        z-index: 1000;
    }


    #sidebar.open-sidebar{
        min-width: 15%;
    }

    .header_content {
        display: flex;
        flex: 1;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        position: relative;
    }

    .header_content img {
        max-width: 200px;
        height: auto;
    }